<ion-header-bar class="bar-positive themeBackgroundColor">
        <button class="button button-clear" ng-click="back()">
            <i class="icon ion-ios-arrow-back"></i>
        </button>
        <h1 class="title" translate="event_who">Who?</h1>
        <button class="button button-clear" ng-click="saveEvent()" translate="event_invite">
            Invite
        </button>
</ion-header-bar>

<ion-content ng-init="loadFriends()" has-bouncing="true" style="height: 100%;" scroll="false">
    <div class="item item-divider">
        {{invitedFriends.length}}
        <span ng-switch="invitedFriends.length == 1">
            <span ng-switch-when="true" translate="event_invitedFriend"></span>
            <span ng-switch-when="false" translate="event_invitedFriends"></span>
        </span>
    </div>
    <ion-scroll direction="x" class="horizontalList">
        <a href="javascript:void(0)" class="item" 
            ng-click="uninviteFriend($index, invitedFriend)" 
            ng-repeat="invitedFriend in invitedFriends track by invitedFriend.id" 
            ng-hide="invitedFriend.isHidden">
            <img ng-src="https://graph.facebook.com/v2.2/{{invitedFriend.facebookId}}/picture??type=small" class="circle">
            <div class="title">
                {{invitedFriend.first_name}}
            </div>
            <span class="stamp" ng-show="invitedFriend.isGoing">
                <i class="ion-ios-checkmark balanced"></i>
            </span>
        </a>
    </ion-scroll>

    <div class="item item-divider" translate="friends">
        Friends
    </div>
    <ion-list>
        <ion-item
            ng-click="inviteFriend($index, friend)" 
            class="item item-avatar" 
            ng-repeat="friend in friends track by friend.id">
            <img ng-src="https://graph.facebook.com/v2.2/{{friend.facebookId}}/picture??type=small" class="circle">
            <div class="middle">
                {{friend.first_name}} {{friend.last_name}}
            </div>
        </ion-item>
    </ion-list>
</ion-content>