<ion-header-bar class="bar-positive themeBackgroundColor">
    <button class="button button-clear" ng-click="back()">
        <i class="icon ion-ios-arrow-back"></i>
    </button>
    <h1 class="title" translate="event_new">Name</h1>
</ion-header-bar>

<ion-content ng-init="loadThemes()" style="height: 100%;" scroll="false" ng-load="">
    <div class="themeBackgroundColor showUp slow delay" style="padding: 10px" ng-class="{'loaded': isLoaded}">

      <span style="position: absolute; color: #999; font-size: 12px; top: 12px; right: 18px;">{{30-editEvent.name.length}}</span>
      <textarea type="text" placeholder="{{'event_what' | translate}}" 
              name="name" ng-model="editEvent.name" required 
              style="padding: 25px 0px 10px; width: 100%; resize: none; text-align: center; font-size: 16px; border-radius: 5px;" maxlength="30"></textarea>
    </div>
    <div class="item item-divider clean themeBorderColor themeColor centered">
        <i class="ion-android-arrow-dropdown"></i>
        <span translate="event_theme_choose">Choose your theme</span>
        <i class="ion-android-arrow-dropdown"></i>
    </div>
    <ion-scroll class="collectionList showDown" ng-class="{'loaded': showThemes}">
        <ion-item ng-click="storeName(theme)" class="cover opacity" 
                  ng-repeat="theme in themes"
                  ng-show="([theme]|themeSearch:editEvent.name).length && ($index < 8 || editEvent.name.length > 2)"
                  ng-style="{'width': item.width, 'height': item.height}">
            <img ng-src="{{'img/themeIcon/'+theme.name+'.png'}}" class="imageOpacity">
        </ion-item>
        <ion-item ng-click="storeName({name: '_'})" class="" 
                  ng-style="{'width': item.width, 'height': item.height}"
                  ng-show="editEvent.name.length > 0">
                  <img ng-src="{{'img/themeIcon/_.png'}}" class="imageOpacity">
                  <h3 class="bottomHalf small hidden" translate="other"></h3>
        </ion-item>
    </ion-scroll>

</ion-content>