<ion-header-bar class="bar-positive themeBackgroundColor">
        <button class="button button-clear" ng-click="back()">
            <i class="icon ion-ios-arrow-back"></i>
        </button>
        <h1 class="title" translate="event_when"></h1>
        <button class="button button-clear" ng-click="save()" translate="done"></button>
</ion-header-bar>

<ion-content ng-init="loadDates()" has-bouncing="true" scroll="false" class="has-footer">

    <ion-list>

        <ion-item>
        <table class="custom-date-picker ">
            <tbody>
                <tr>
                    <td ng-click="changeDay(1)"><i class="ion-arrow-up-b"></i></td>
                    <td ng-click="changeHour(1)"><i class="ion-arrow-up-b"></i></td>
                    <td ng-click="changeMinute(1)"><i class="ion-arrow-up-b"></i></td>
                </tr>
                <tr>
                    <td class="huge">
                        <ionic-datepicker input-obj="datepickerObject">
                            <span ng-bind-html="selectedDayDesc"></span>
                        </ionic-datepicker>
                    </td>
                    <td class="huge">
                        {{selectedHourDesc}}
                    </td>
                    <td class="huge">
                        {{selectedMinuteDesc}}
                    </td>
                </tr>
                <tr>
                    <td ng-click="changeDay()" ng-class="{'invisible': !allowLowerDays}">
                        <i class="ion-arrow-down-b"></i>
                    </td>
                    <td ng-click="changeHour()" ng-class="{'invisible': !allowLowerHours}">
                        <i class="ion-arrow-down-b"></i>
                    </td>
                    <td ng-click="changeMinute()" ng-class="{'invisible': !allowLowerMinutes}">
                        <i class="ion-arrow-down-b"></i>
                    </td>
                </tr>
            </tbody>
        </table>
        </ion-item>

        <div class="item-divider"></div>

        <ion-toggle ng-model="isRepeat" toggle-class="toggle-balanced" ng-change="changeRepeat()" ng-true-value="true" ng-false-value="false">
            <span translate="events_date_repeat"></span>
        </ion-toggle>

        <ion-scroll ng-style="{'height': scroll.height+'px'}">
            <span ng-style="{'height': isRepeat ? 'auto' : '0px'}" class="overflow block">
                <ion-radio class="small" ng-model="editEvent.repeatEventType" ng-value="1" >
                    <span translate="events_date_repeat_day"></span>
                </ion-radio>
                <ion-radio class="small" ng-model="editEvent.repeatEventType" ng-value="2" >
                    <span translate="events_date_repeat_week"></span>
                </ion-radio>
                <ion-radio class="small" ng-model="editEvent.repeatEventType" ng-value="3" >
                    <span translate="events_date_repeat_2week"></span>
                </ion-radio>
                <ion-radio class="small" ng-model="editEvent.repeatEventType" ng-value="4" >
                    <span translate="events_date_repeat_month"></span>
                </ion-radio>
            </span> 

        <ion-scroll>
    </ion-list>

</ion-content>

<ion-footer-bar align-title="center" class="themeBackgroundColorLight">
    <button class="button button-block button-clear themeBackgroundColorLight centered" ng-click="save(true)" style="margin:0px">
        <i class="icon ion-ios-timer-outline"></i>
        {{'event_date_tbd' | translate}}
    </button
</ion-footer-bar>