<ion-pane class="">

<ion-header-bar class="bar-positive themeBackgroundColor">
        <button class="button button-clear" ui-sref="profile">
            <i class="ion-person"></i>
        </button>
        <h1 class="title"><img src="img/letsy_white.png"></h1>
        <button class="button button-clear" ui-sref="editEventName({isNew: true, reload: true})" ng-hide="isOffline">
            <i class="ion-plus-round"></i>
        </button>
</ion-header-bar>

<div style="position: fixed; left: 0px; right: 0px; top: 50px; bottom: 0px; background-color: white;"></div>

<ion-content>
    <ion-refresher pulling-icon="{{isIOS ? 'ion-chevron-down' : 'ion-android-arrow-down'}}" pulling-text="{{ 'refresh' | translate }}" on-refresh="doRefresh()" class="themeColor"></ion-refresher>

<!-- My Events -->
    <ion-list class="largeList" ng-hide="myEvents.length == 0">

        <ion-item class="cover coverLight" ng-repeat="myEvent in myEvents track by myEvent.id" ng-click="showEvent(myEvent)" nav-transition="ios">

            <span ng-switch="!myEvent.background_url">
                <div ng-switch-when="false" class="background backgroundImage" 
                     ng-style="{'background-image': 'url('+myEvent.background_url+')'}"></div>
                <div ng-switch-when="true" class="background backgroundImage" 
                     ng-style="{'background-image': 'url(img/themeIcon/'+myEvent.theme+'.png)'}" style="max-width: 220px; margin-left: -30px;"></div>
            </span>
            
            <h2 class="topHalf" ng-class="{'lower': !myEvent.place_name, 'larger': myEvent.name.length>25}">{{::myEvent.name}}</h2>
            <h3 class="bottomHalf">{{myEvent.place_name}}</h3>
            <div class="bottom" ng-style="{'bottom': myEvent.place_name?'':'30px'}">
                <span ng-show="myEvent.date">
                    <i class="ion-calendar"></i>
                    {{myEvent.date | prettyDateFormat }}
                </span>
                <span ng-show="myEvent.participants.length>0">
                    <i class="ion-person-stalker"></i>
                    {{myEvent.participants.length }}
                </span>
            </div>
        </ion-item>
    </ion-list>

<!-- New Events -->
    <ion-list class="largeList bottomSpace" ng-hide="isOffline || newEvents.length == 0" delegate-handle="newEventsList">

        <h1 class="item-divider simple">
            <i class="ion-android-arrow-dropdown"></i>
            <span translate="event_newEvents_title"></span>
            <i class="ion-android-arrow-dropdown"></i>
        </h1>

        <ion-item class="cover coverLight" ng-repeat="newEvent in newEvents"
                  ng-click="showEvent(newEvent)" nav-transition="ios">

            <span ng-switch="newEvent.place_image_url == undefined">
                <div ng-switch-when="false" class="background backgroundImage" 
                     ng-style="{'background-image': 'url('+newEvent.place_image_url+')'}"></div>
                <div ng-switch-when="true" class="background backgroundImage" 
                     ng-style="{'background-image': 'url(img/themeIcon/'+newEvent.theme+'.png)'}" style="max-width: 220px; margin-left: -30px;"></div>
            </span>

            <button class="button button-balanced" ng-click="joinNewEvent(newEvent, $index); $event.stopPropagation();"><i class="ion-log-in"></i></button>

            <h2 class="topHalf">{{newEvent.name}}</h2>
            <h3 class="bottomHalf">{{newEvent.place_name}}</h3>
            <div class="bottom">
                <span ng-show="newEvent.date">
                    <i class="ion-calendar"></i>
                    {{newEvent.date | prettyDateFormat }}
                </span>
                <span ng-show="newEvent.participants.length > 0">
                    <i class="ion-person-stalker"></i>
                    {{newEvent.participants.length }}
                </span>
            </div>

            <ion-option-button class="button-assertive" ng-click="leaveEvent(newEvent, $index); $event.stopPropagation();" style="padding-left: 17px;">
              <i class="icon ion-ios-trash-outline"></i>
            </ion-option-button>
        </ion-item>
    </ion-list>

    <div ng-show="myEvents.length == 0 && newEvents.length == 0" class="emptyMsg" ui-sref="editEventName({isNew: true, reload: true})">
        <i class="ion-ios-calendar-outline"></i>
        <span translate="event_newEvents_noEvents"></span>
    </div>
</ion-content>

</ion-pane>
