<ion-header-bar class="bar-positive themeBackgroundColor">
        <button class="button button-clear" ui-sref="profile">
            <i class="icon ion-ios-arrow-back"></i>
        </button>
        <h1 class="title">Friends</h1>
</ion-header-bar>

<ion-view title="Friends">
    <ion-content has-bouncing="true">
        <ion-list>
            <a class="item item-avatar" ng-repeat="object in objects | orderBy : object.first_name + object.last_name">
                <img ng-src="https://graph.facebook.com/v2.2/{{object.facebookId}}/picture??type=small">
                <span class="middle">{{::object.first_name}} {{::object.last_name}}</span>
            </a>
        </ion-list>
    </ion-content>
</ion-view>
