<ion-content id="login" class="themeBackgroundColor centered" scroll="false">

	
		<img src="img/letsy_white.png" style="width: 70%; position: absolute; top: 25%; left: 15%">
		<h2 style="position: absolute; bottom: 150px; left: 0px; right: 0px; text-align: center; color: white">Living together</h2>
	

	
	<div style="position: absolute; bottom: 0px; padding: 50px 0px; left: 0px; right: 0px; background-color: white;">
	
		
		<button class="button button-block button-positive bg-facebook relative" style="max-width: 200px; margin: 0px auto; padding-left: 20px" ng-click="login()">
			<img src="img/icons/facebook.png">
			<span translate="login_enter"></span>
		</button>

	</div>
	
</ion-content>