<ion-header-bar class="bar-positive themeBackgroundColor">
        <button class="button button-clear" ui-sref="events">
          <i class="icon ion-ios-arrow-back"></i>
        </button>
        <h1 class="title" translate="profile_title">My Profile</h1>
        <button class="button button-clear" ui-sref="settings">
          <i class="ion-ios-gear"></i>
        </button>
</ion-header-bar>

<ion-view>
  <ion-content class="greyBackground">
    <div class="centered" style="height: 200px">
      <img ng-src="https://graph.facebook.com/v2.2/{{facebookId}}/picture?type=large" class="circle " style="width: 130px; max-width: 50%; margin: 35px 0px 30px;">
    </div>

    <div class="list">

  		<ion-item class="item-icon-left item-icon-right" ng-href="#/friends">
  			<i class="icon ion-person-stalker"></i>
  			{{total_friends}} {{ (total_friends == 1 ? 'friend' : 'friends') | translate}}
  			<i class="icon ion-ios-arrow-forward"></i>
  		</ion-item>

      <ion-item class="item-icon-right" style="display: none" ng-click="teste()">
        
        Testar função
        <i class="icon ion-ios-arrow-forward"></i>
      </ion-item>

    </div>

  </ion-content>
</ion-view>