<div class="ion-autocomplete-container modal slow" id="autocomplete-container" >
     <div class="bar bar-header item-input-inset themeBackgroundColor">
          <label class="item-input-wrapper darken">
               <i class="icon ion-search placeholder-icon"></i>
               <input type="search" class="ion-autocomplete-search" ng-model="searchQuery" placeholder="{{placeholder}}"/>
          </label>
          <button class="ion-autocomplete-cancel button button-clear">
               {{cancelLabel}}
          </button>
     </div>
     <ion-content class="has-header has-header" ng-controller="EventSearchTemplateController">
          <ion-list>

               <ion-item ng-hide="searchQuery.length<3" class="item-avatar item-square" ng-click="selectItem({name: searchQuery, place_id: '-1'})">
                    <img ng-src="img/icons/place.png" class="">
                    <h2 class="small middle">
                         {{searchQuery}}
                    </h2>
                    
               </ion-item>

               <ion-item class="item-avatar item-square right-label item-icon-right" ng-repeat="place in items"ng-click="selectItem(place)">
                    <img ng-src="{{ place.photos ? place.photos[0].getUrl({'maxWidth': 200, 'maxHeight': 100}) : 'img/icons/place.png' }}" class="">
                    <h2 class="small {{place.vicinity == undefined ? 'middle':''}}">
                         {{place.name}}
                    </h2>
                    <p>
                         <label class="smaller">{{place.vicinity}}</label>
                    </p>

                    <i class="icon ion-information-circled larger calm" ng-click="hideSearchContainer(place.reference); $event.stopPropagation()"></i>
                    
               </ion-item>
          </ion-list>
     </ion-content>
</div>