<ion-pane class="themeBackgroundColorLight">

<ion-header-bar class="bar-positive themeBackgroundColor" ng-click="showDetailPanel()" on-swipe-down="showDetailPanel()" on-drag-down="showDetailPanel()" ng-class="{'transparent': isShowDetailPanel}">
    <button class="button button-clear left" ng-click="back(); $event.stopPropagation();" ng-hide="isEdit">
        <i class="icon ion-ios-arrow-back"></i>
    </button>
    <h1 class="title invisible" ng-class="{'visible': !isShowDetailPanel}">{{showEvent.name}}</h1>
    <button ng-switch="isEdit" class="button button-clear right invisible" ng-class="{'visible':isShowEditButton && !isOffline && isShowDetailPanel}" ng-click="toggleEdit()">
        <span ng-switch-when="false">
            <i class="ion-edit"></i>
        </span>
        <span ng-switch-when="true">
            <i class="icon ion-ios-checkmark-outline"></i>
        </span>
    </button>
</ion-header-bar>


<div id="showEvent" class="cover showUp" ng-class="{'loaded': isShowDetailPanel, 'slow': !isShowDetailPanel}" ng-style="{'margin-top': detailPanelScrollUp+'px'}" has-bouncing="true" on-swipe="swipeDetailPanel($event)" on-drag="swipeDetailPanel($event)" on-release="releaseDetailPanel()">

    <div class="backgroundImage" ng-style="{'background-image': 'url('+background_image_url+')', 'height': 80 + item.firstRowHeight + item.colletionItemWidth + 2*imageResizeHeight+30+'px', 'top': '-'+(imageResizeHeight+30)+'px'}"></div>

    <ion-item ng-style="{'height': item.firstRowHeight + imageResizeHeight + 'px'}">

        <button class="action invisible" style="left: 20%" ng-class="{'visible': isEdit && isOwner}" ng-click="deleteEvent()"><i class="icon ion-ios-trash-outline"></i></button>
        <button class="hidden action invisible" style="right: 20%" ng-class="{'visible': isEdit}" ng-click="changePhoto()"><i class="icon ion-camera"></i></button>

        <button class="button-left button button-balanced invisible" ng-class="{'visible': !isOffline && isShowJoinButton}" ng-click="joinEvent()">
            <i class="icon ion-log-in"></i>
            <span style="padding-left: 5px" translate="event_accept"></span>
        </button>
        <button class="button-right button button-assertive invisible" ng-class="{'visible': !isOffline && isShowJoinButton}" ng-click="leaveEvent()">
            <i class="icon ion-ios-trash-outline"></i>
        </button>


        <h1 ng-show="showEvent.name"
            ng-click="editName()"
            class="topHalf centered" ng-class="{'showClick': isEdit}">
            {{showEvent.name}}
            <span ng-class="{'visible': isEdit}" class="editButton invisible">
                <i class="icon ion-edit edit" style="padding-top: 5px; top: -8px;"></i>
            </span>
        </h1>   
        <h2 ng-show="showEvent.place_name"
            class="bottomHalf centered">
            {{showEvent.place_name}}
        </h2>

    </ion-item>
    
    <!-- Event Date / Weather / Place  -->
    <ion-item class="noPadding borderTop">
        <div class="buttons row">
            <div class="col" ng-click="editDate()" ng-class="{'showClick': isEdit, 'col-25': showEvent.date, 'col-33': !showEvent.date}">
                <div ng-switch="!showEvent.date">
                    <span ng-switch-when="true">
                        <i class="ion-ios-clock-outline"></i>
                        <span class="title" translate="event_date_not_defined"></span>
                    </span>
                    <span ng-switch-when="false">
                        <i class="ion-calendar invisible" ng-class="{'visible': isEdit || showEvent.date}"></i>
                        <span id="dayLabel">{{showEvent.date | date: 'd'}}</span>
                        <span class="title">
                        {{ showEvent.date | prettyDateFormat }}</span>
                    </span>
                </div>
                <span ng-class="{'visible': isEdit}" class="editButton invisible">
                    <i class="icon ion-edit edit"></i>
                </span>
            </div>
            <div class="col col-25" ng-show="showEvent.date && weather.desc">
                <div ng-show="!isEdit">
                    <img ng-src="{{weather.icon_url}}" ng-alt="weather.desc">
                    <div class="title">{{weather.tempC}}ºC</div>
                    <span class="subtitle"><small>{{weather.desc}}</small></span>
                </div>
            </div>
            <div class="col" ng-click="placePressed()" ng-class="{'showClick': isEdit, 'col-25': showEvent.date && weather.desc, 'col-33': !showEvent.date && !weather.desc}">
                <div ng-switch="!showEvent.place_name">
                    <span ng-switch-when="true">
                        <i class="ion-ios-location-outline"></i>
                        <span translate="event_place_empty"></span>
                    </span>
                    <span ng-switch-when="false">
                        <span ng-switch="!showEvent.place_lat || !showEvent.place_lng">
                            <span ng-switch-when="true">
                                <i class="ion-location"></i>
                                {{showEvent.place_name}}
                            </span>
                            <span ng-switch-when="false">
                                <i class="ion-map"></i>
                                <span translate="event_place_see_map"></span>
                            </span>
                        </span>
                    </span>

                    <span ng-class="{'visible': isEdit}" class="editButton invisible">
                        <i class="icon ion-edit edit"></i>
                    </span>
                    
                </div>
            </div>
            <div class="col showClick" ng-click="editParticipants()" ng-class="{'col-25': showEvent.date, 'col-33': !showEvent.date}">
                <i class="ion-person-stalker"></i>
                <div class="title larger">{{showEvent.totalParticipants}}</div>
                <span ng-class="{'visible': isEdit}" class="editButton invisible">
                    <i class="icon ion-edit edit"></i>
                </span>
            </div>
        </div>
    </ion-item>

    <!-- Participants -->
    <ion-item class="borderTop noPadding slower" ng-class="{'slideUp': !isShowParticipants}" ng-style="{'height': item.colletionItemWidth + 'px'}">
        <ion-scroll class="horizontalList" direction="x" scrollbar-x="false">
            <ion-item ng-repeat="participant in showEvent.participants_aux" style="margin: -3px 0px" ng-style="{'width': item.colletionItemWidth + 'px', 'height': item.colletionItemWidth + 'px'}" ng-click="participantClick($index)">
                <img ng-src="https://graph.facebook.com/v2.2/{{participant.facebookId}}/picture??type=small" class="slower" ng-style="{'height': item.colletionItemWidth+'px', 'width': item.colletionItemWidth+'px'}">
                <div class="title bottom" ng-class="{'hide': !participant.show}" style="background-color: rgba(0, 0, 0, .5)">
                    {{participant.first_name}} {{participant.last_name}}
                </div>
                <span class="stamp bottom small" ng-switch="participant.isGoing">
                    <i ng-switch-when="true" class="ion-ios-checkmark balanced"></i>
                    <i ng-switch-when="false" class="ion-close-circled assertive"></i>
                </span>
            </ion-item>
        </ion-scroll>
    </ion-item>

    <ion-item class="label borderTop themeBackgroundColor">
        <i class="ion-android-arrow-dropup"></i>
        <span translate="slideUp_hide"></span>
        <i class="ion-android-arrow-dropup"></i>
    </ion-item>

</div>


<ion-content id="chats" scroll-event-interval="5" resize-on-scroll scrollbar-y="false" class="has-footer" delegate-handle="chatScroll" on-swipe-left="isShowDate=true" on-drag-left="isShowDate=true" on-release="isShowDate=false" ng-class="{'showDate': isShowDate}" ng-style="{'margin-top': chatMarginTop+'px', 'margin-bottom': chatMarginBottom+'px'}">


    <div class="chat" ng-repeat="chat in chats track by chat._id" ng-class="{'right': chat.fromFacebookId === myFacebookId, 'left': chat.fromFacebookId !== myFacebookId, 'repeated':chat.fromFacebookId == chats[$index-1].fromFacebookId, 'willRepeat':chat.fromFacebookId == chats[$index+1].fromFacebookId, 'hideDaySection':chat.date.getDate() == chats[$index-1].date.getDate()}" on-hold="onMessageHold($event, $index, message)">

    <div class="item-divider">{{chat.date | prettyDayFormat }}</div>

        <img ng-src="https://graph.facebook.com/v2.2/{{chat.fromFacebookId}}/picture??type=small" class="profile-pic"> 

        <div class="chat-bubble">
            <div class="message" ng-bind-html="chat.message | nl2br" autolinker>
                {{chat.message}}
            </div>
        </div>
        <span class="date slow" am-time-ago="">{{chat.date | date : 'HH:mm'}}</span>
    </div>
    
</ion-content> 

<form id="newChat" name="sendMessageForm" ng-submit="sendMessage(newMessage)" novalidate>
    <ion-footer-bar class="bar-stable item-input-inset message-footer" keyboard-attach style="border-top: 1px solid #ccc;">
        <div class="footer-btn-wrap hidden">
            <button class="button button-icon icon ion-camera footer-btn"></button>
        </div>
        <label class="item-input-wrapper">
            <textarea id="inputMessage" ng-model="newMessage" value="" placeholder="{{'chat_new' | translate}}" ng-focus="hideDetailPanel()" required minlength="1" maxlength="250" msd-elastic></textarea>
        </label>
        <div class="footer-btn-wrap">
            <button class="button button-clear footer-btn right" type="submit" ng-disabled="!newMessage || newMessage === ''" translate="chat_send">
            </button>
        </div>
    </ion-footer-bar>
</form>

<div date-picker="start" ng-show="true"></div>

</ion-pane>