<ion-header-bar class="bar-positive themeBackgroundColor">
        <button class="button button-clear" ng-click="back()">
          <i class="icon ion-ios-arrow-back"></i>
        </button>
        <h1 class="title" translate="event_map"></h1>
</ion-header-bar>

<ion-view ng-style="{'width': item.width, 'height': item.height}">

  <div id="fullMap" class="" data-tap-disabled="true"></div>


  <ion-pull-up-footer class="bar-stable" max-height="400">
      <ion-pull-up-handle width="100" height="25" toggle="ion-chevron-up ion-chevron-down" style="border-radius: 20px 20px 0 0">
          <i class="icon ion-chevron-up"></i>
      </ion-pull-up-handle>
      <ion-pull-up-bar>
          <h1 class="title small" style="text-align: left" ion-pull-up-trigger>
            {{ ::place.name }}
          </h1>
          <button ng-if="place.rating" class="button button-clear">
            {{ ::place.rating }}<small>/5</small>
          </button>
      </ion-pull-up-bar>
      <ion-pull-up-content scroll="false" id="addressInfo">

        <div class="subtitle" translate="event_place_address"></div>
        <div class="body">
          {{ ::place.place_address }}
        </div>
        
        <ion-item class="item-divider"></ion-item>

        <div class="body" ng-if="place.phone">
          <a href="tel:{{::place.phone}}">
            <i class="icon ion-ios-telephone"></i>
            {{ ::place.phone }}
          </a>
        </div>
        <div class="body" ng-if="place.website">
          <a ng-href="{{::place.website}}" target="_blank">
            <i class="icon ion-earth"></i>
            {{ 'openBrowser' | translate }}
          </a>
        </div>
        
        <ion-item class="item-divider"></ion-item>

      </ion-pull-up-content>
  </ion-pull-up-footer>


</ion-view>