<ion-header-bar class="bar-positive themeBackgroundColor">
        <button class="button button-clear" ui-sref="showEvent({objectId: showEvent.id})">
          <i class="icon ion-ios-arrow-back"></i>
        </button>
        <h1 class="title" translate="event_map"></h1>
</ion-header-bar>

<ion-view ng-style="{'width': item.width, 'height': item.height}">

  <table id="addressInfo" ng-show="showEvent.place_address" class="bottom">
  <tr>
      <td class="info">
          <p class="bold" translate="event_place_address">Address</p>
          <p>{{ ::showEvent.place_address }}</p>
      </td>
  </tr>
  </table>
  <div id="fullMap" class="" data-tap-disabled="true"></div>


  <ion-pull-up-footer class="bar-stable" initial-state="minimized" default-behavior="hide">
      <div class="title" ion-pull-up-trigger>More details</div>
      <ion-pull-up-handle width="100" height="25" toggle="ion-chevron-down ion-chevron-up" style="border-radius: 25px 25px 0 0">
          <i class="icon ion-chevron-up"></i>
      </ion-pull-up-handle>

      <ion-pull-up-content scroll="false">
          <div class="list card">
              <div class="item item-divider">Recent Updates</div>
              <div class="item item-body">
                  <div>
                      There is a fire in <b>sector 3</b>
                  </div>
              </div>
          </div>
      </ion-pull-up-content>
  </ion-pull-up-footer>

</ion-view>