/* Empty. Add your own CSS if you like */

body {
	cursor: url('http://ionicframework.com/img/finger.png'), auto;
	background-color: #000;
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
}

body > * {
	max-width: 700px !important;
}
.bar-header {
	z-index: 6000;
}
.bar .title, .dynamic.title {
	display: block;
}
.bar.bar-positive{
	border-color: rgb(18, 86, 136);
	background-image: none;
}
.bar.bar-positive.themeBackgroundColor i {
	color: white;
}
.themeBackgroundColor, .date_selected  {
	background-color: rgb(18, 86, 136) !important;
	border: 0px !important;
	color: white;
}
.themeBackgroundColorLight {
	background-color: rgb(220, 234, 240) !important;
	border: 0px !important;
	color: rgb(18, 86, 136) !important;
}
/*.themeBackgroundColorLight:active {
	background-color: rgb(18, 86, 136) !important;
	color: white !important;
}*/
.themeBorderColor {
	border-color: rgb(18, 86, 136) !important;
}
.themeColor, .themeColor > *, .themeColor .spinner, .themeColor.scroll-refresher .ionic-refresher-content {
	color: rgb(18, 86, 136) !important;
	stroke: rgb(18, 86, 136) !important;
}
.themeButton {
	background-color: rgba(18, 86, 136, .7) !important;
	color: white !important;
	border: 0px !important;
	padding: 8px 10px;
}


.popup-container {
	background: rgba(0, 0, 0, 0.5);
}
.popup-body {
	overflow: hidden;
}
.popup-buttons .button {
	font-size: 14px;
}
.date_selected {
	border-radius: 3px;
}

.hidden {
	display: none !important;
}

.feedbackMessage {
	color: white;
	font-size: 14px;
	text-align: center;
	width: 95px;
	padding: 0px 5px;
}

.feedbackMessage i {
	font-size: 98px;
	display: block;
	width: 0px;
	overflow: hidden;
}

.feedbackMessage i.loaded {
	width: 80px;
}

.feedbackMessage .msg {
	position: relative;
	top: 5px;
	display: none;
}

.fillParent {
	min-width: 100%;
	height: 100%;
}

h1.title img {
	height: 30px;
	margin: 10px 0px;
}

.item h1 {
	white-space: normal;
}

.item.right-label h2, .item.right-label p {
	max-width: 80%;
	overflow: hidden;
}

.item.right-label .item-note {
	position: absolute;
	top: 35%;
	right: 10px;
	white-space: normal;
	width: 15%;
	line-height: 1.1;
	direction: rtl;
}

.item > .fillParent {
	margin: -16px;
}

.item.item-icon-left > img {
	height: 20px;
	top: auto;
	border-radius: 7px;
	left: 14px;
}

.item.ng-enter {
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -ms-transition: 500ms;
    -o-transition: 500ms;
    transition: 500ms;
    opacity: 0;
}
.item.ng-enter-active {
    opacity: 1;
}

.item-divider.clean {
	background-color: transparent;
	border: 0px;
	border-bottom: 1px solid;
	padding: 10px 15px;
	margin-bottom: 2px;
}
.item-divider.simple {
	background-color: transparent !important;
	padding: 7px 10px;
	font-size: 17px;
	text-align: center;
	color: #333;
	margin: 10px auto;
	text-transform: uppercase;
	font-weight: bold;
}

.emptyMsg {
	color: #444;
	font-weight: bold;
	margin-top: 50px;
	font-size: 20px;
	text-align: center;
	width: 100%;
	position: relative;
	padding: 145px 70px 50px;
}
.emptyMsg > i {
	position: absolute;
	color: #ddd;
	font-size: 300px;
	display: block;
	width: 100%;
	left: -3px;
	top: 0px;
}

.rightIcon {
	position: absolute;
	right: 10px;
	z-index: 5000;
}

.editButton {
	position: absolute;
}

.circleButton {	
	border: 1px solid #eee;
	background-color: #eee;
	border-radius: 50%;
	display: inline-block;
	width: 35px;
	height: 35px;
	bottom: auto;
	line-height: 0;
	color: #555;
}

.loading-container {
	/*display: flex !important;*/
}
.loading-container .loading {
	padding: 23px 20px 17px;
}


/* Google Maps */

#addressInfo {
	position: absolute;
	z-index: 5000;
	right: 15px;
	top: 30px;
	left: auto;
	background-color: rgba(255, 255, 255, .8);
	color: #000 !important;
	width: 100px;
	border-radius: 7px;
}
#addressInfo.bottom {
	top: auto;
	bottom: 30px;
	right: 30px;
}

#addressInfo .info {
	font-size: 12px;
	height: 70px;
	padding: 3px 10px;
}
#addressInfo p {
	line-height: 1.0;
	padding: 5px 0px;
	text-align: left;
	color: #000;
	font-size: 10px;
	white-space: normal;
}
.mapContainer {
	position: relative;
	text-align: center;
	margin: -5px;
}
#map, #coverMap, #fullMap {
	width: 100%;
	height: 130px;
	display: inline-block;
	background-color: white
}

#map {
	border: 3px solid white;
}

#fullMap {
	height: 100%;
}

#coverMap {
	position: absolute;
	z-index: 5001;
	background-color: transparent;
	left: 0px;
	right: 0px;
	width: 100%;
	border: 0px;
}

.gmnoprint, .gm-style-cc {
	display: none;
}

/** Header **/

#whereTitle {
	right: 0px !important;
	z-index: 4000;
	margin-right: 0px !important;
}
h1.title .top {
	position: absolute;
	top: 0px;
	height: 100%;
	width: 100%;
	color: transparent;
}

.bar button > i, .dynamicHeader button > i {
	font-size: 26px;
}
.dynamicHeader button > .icon:before {
	font-size: 32px;
}

.button-clean {
	position: absolute;
	margin-left: -20px !important;
	z-index: 4000 !important;
	content: #bbb !important;
}

.headerExtraBar {
	text-align: center;
	position: fixed;
	z-index: 6001;
	top: 38px;
	left: 0px;
	width: 110%;
	line-height: 0;
	height: 14px;
}
.transparent .headerExtraBar {
	display: none;
}

/**** List Styles  ***/

.item .middle {
	position: relative;
	top: 9px;
}

.item.noPadding {
	padding: 5px 0px;
	min-height: 90px;
}

.leftTitle {
	font-weight: bold;
	font-size: 16px;
	margin: 5px 5px 20px;
}
.leftTitle > i {
	font-size: 30px;
	position: relative;
	top: 3px;
}

.item .buttonRight {
	font-size: 12px !important;
	color: #fff;
	position: absolute;
	top: 10px;
	right: 5px;
}
.item .buttonRight i, .item .buttonRight img{
	font-size: 11px !important;
}

table {
	width: 100%;
}

table td {
	vertical-align: middle;
}

table > tbody > tr > td.top {
	vertical-align: top;
} 

i {
	display: inline-block;
	margin: auto 3px;
}

a {
	color: #333;
	text-decoration: none;
}

.cellSideTemplate {
	position: relative;
	padding-left: 55px;
	height: 40px;
}
.cellSideTemplate i, .cellSideTemplate img {
	position: absolute;
	top: 0px;
	left: 10px;
	font-size: 40px;
}
.cellSideTemplate img {
	height: 40px;
}
.cellSideTemplate label, .cellSideTemplate .label {
	font-size: 11px;
	line-height: 1.2;
	display: block;
	z-index: 1;
}

.cellSideTemplate.right {
	text-align: right;
	padding-left: 0px;
	padding-right: 48px;
}
.cellSideTemplate.right label {
	position: relative;
}
.cellSideTemplate.right i, .cellSideTemplate.right img {
	left: auto;
	right: 2px;
}


.tabs input {
	width: 100%;
}

/**** Table button  *****/

.borderTop {
	border-top: 1px solid rgba(255, 255, 255, .1) !important;
}

.buttons {
	padding: 0px;
	margin: -5px 0px;
}

.buttons .col {
	border-left: 0px solid rgba(255, 255, 255, .1);
	padding: 15px 3px 12px;
	color: white !important;
	text-align: center;
	position: relative;
	font-size: 9px;
	height: 80px;
}
.buttons .col:first-child {
	border-left: 0px;
}

.buttons .col i {
	width: 100%;
	font-size: 30px;
	margin-bottom: 0px;
	display: block;
	color: rgba(255, 255, 255, .7);
}
.buttons .col img {
	display: block;
	height: 30px;
	margin: 0px auto 0px;
}
.buttons .col .title, .buttons td .subtitle  {
	display: block;
	font-size: 10px;
	text-align: center;
	white-space: normal;
	line-height: 1.0;
	position: absolute;
	width: 100%;
	margin-top: 5px
}
.buttons .col .subtitle {
	font-size: 10px;
	position: absolute;
	width: 100%;
	left: 0px;
	bottom: 2px;
	white-space: normal;
  	line-height: 0.9;
  	height: 17px;
}
.buttons .col .subtitle i {
	font-size: 11px;
	display: inline;
	color: #eee;
	position: relative;
	top: 1px;
	margin: 0px;
}

#dayLabel {
	position: absolute;
	left: 54%;
	margin-left: -5px;
	top: 23px;
	font-weight: bold;
	width: 10px;
	text-align: center;
}

.buttons [ng-click].showClick.activated, .buttons [ng-click].showClick.activated i.edit {
	background-color: rgba(10, 20, 30, .6) !important;
}

/**** Edit buttons ***/

.buttons .col .editButton {
	bottom: 0px;
}

.editButton {
	position: absolute;
	right: 5px;
}

i.edit {
	position: relative;
	z-index: 6000;
	padding: 4px 7px;
	font-size: 15px !important;
	width: 30px;
	height: 30px !important;
	background-color: rgb(18, 86, 136);
	color: white !important;
	border-radius: 50%;
	border: 1px solid rgba(100, 100, 100, .3);
	margin: 0px !important;
}

/**** Horizontal List Styles  ***/

.horizontalList {
	text-align: left;
	white-space: nowrap;
}

.horizontalList .item {
	position: relative;
	display: inline-block;
	float: left;
	text-align: center;
	overflow: hidden;
	margin: 10px 5px 5px;
	width: 60px;
	border: 0px !important;
	padding: 0px;
}

.horizontalList .item > img {
	display: block;
	height: 50px;
	margin: 0px auto;
}

.horizontalList .item > .title {
	display: block;
	font-size: 9px;
	padding: 5px 0px;
	text-align: center;
	white-space: normal;
	line-height: 1.3;
	z-index: 10;
}

.horizontalList .item .stamp {
	position: absolute;
	bottom: 12px;
	right: 0px;
	left: auto;
	font-size: 16px;
}
.horizontalList .item .stamp.bottom {
	bottom: 0px;
	padding: 0px;
}
.horizontalList .item > .title.hide {
	height: 0px;
	min-height: 0px;
	padding: 0px;
}

/**** Large List ****/

.largeList > .list {
	overflow: hidden;
	background-color: white;
}
.largeList .item {
	height: 150px;
	border-bottom: 3px solid white;
	position: relative;
	color: white;
}
.largeList .item > .item-content {
	height: 100%
}
.largeList .item .topHalf, .largeList .item .bottomHalf, .largeList .item .bottom {
	left: 20px;
}
.largeList .item .topHalf {
	bottom: 55%;
	font-size: 21px;
	padding: 2px 4px;
	margin-left: -4px;
	white-space: normal;
}
.largeList .item .bottomHalf {
	top: 45%;
	font-size: 12px;
	font-weight: normal;
}
.largeList .item .bottom {
	font-size: 11px;
	font-weight: normal;
	bottom: 10px;
	padding: 0px;
}
.largeList .item .bottom i {
	font-size: 16px;
	margin: 0px 3px 0px -2px;
	color: #efefef !important;
}
.largeList .item .bottom > span {
	margin-right: 30px;
	display: inline-block;
	color: #efefef !important;
}
.largeList .item button {
	position: absolute;
	right: 0px;
	top: 0px;
	bottom: 0px;
	width: 50px;
	padding: 0px;
	opacity: .9;
	border: 0px;
}
.largeList .item button.activated {
	opacity: 1;
}
.largeList .item button > i {
	font-size: 28px;
}

/**** Collection List Styles  ***/

.collectionList {
	text-align: left;
	height: 100%;
	clear: both;
}

.collectionList.bottomSpace .item:last-child {
	margin-bottom: 10px;
}

.collectionList .item {
	position: relative;
	overflow: hidden;
	display: inline-block;
	float: left;
	text-align: center;
	width: 50%;
	border: 3px solid #fff;
	border-bottom-width: 2px;
	border-right-width: 2px;
	border-left-width: 3px;
	background-color: rgba(0, 56, 86, .6);
	padding: 0px;
	margin: 0px;
}
.collectionList .item.activated {
	background-color: rgb(100, 100, 100);
}
.collectionList .item * {
	color: white !important;
}

.collectionList .item .background {
	position: absolute;
	z-index: 0;
}

.collectionList .item button {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	width: 100%;
	font-size: 12px;
}

.backgroundImage {
	position: absolute;
	width: 100%;
	height: 100%;
	right: 0px;
	left: 0px;
	top: 0px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.backgroundImage.backgroundOpacity {
	-webkit-filter: opacity(50%); 
    filter: opacity(50%); 
}

.blur {
    -webkit-filter: blur(6px); 
    -mozkit-filter: blur(6px); 
    -mskit-filter: blur(6px); 
    filter: blur(6px); 
}

.collectionList .item img {
	width: 80%;
	margin-top: 10%;
}
.collectionList .item img.opacity {
	opacity: .7;
}

.collectionList h1 {
	display: block;
	clear: both;
	width: 100%;
	margin-top: 0px;
	padding-top: 20px !important;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
}

.collectionList .item h2 {
	display: block;
	width: 100%;
	text-align: center;
	font-size: 16px;
	padding: 0px 5px;
	white-space: normal;
	line-height: 1.1;
}

.collectionList .item h3 {
	display: block;
	width: 100%;
	text-align: center;
	font-size: 10px;
	padding: 5px 5px;
	white-space: normal;
	line-height: 1.0;
	font-weight: normal;
}

/** Chat  **/

#chats {
	margin-bottom: 5px;
}

#chats .chat {
	clear: both;
	overflow: hidden;
	position: relative;
}
#chats .chat:last-child {
	margin-bottom: 10px;
}

#chats .chat-bubble {
	border-radius: 4px;
	display: inline-block;
	padding: 3px 15px;
	position: relative;
	margin: 4px;
	max-width: 80%;
	/*border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;*/
}
#chats .chat.willRepeat .chat-bubble, #chats .chat.repeated .chat-bubble{
	/*width: 100px; */
}
#chats .chat.willRepeat .chat-bubble {
	/*border-bottom-right-radius: 0px;*/
	/*border-bottom-left-radius: 0px;*/
	margin-bottom: 1px;
}
#chats .chat.repeated .chat-bubble {
	margin-top: 1px;
	/*border-top-right-radius: 0px;*/
	/*border-top-left-radius: 0px;*/
}

#chats .chat-bubble:before {
	content: "\00a0";
	display: block;
	height: 16px;
	width: 9px;
	position: absolute;
	bottom: 4px;
	-webkit-transform: rotate(45deg);
}
#chats .chat.repeated.hideDaySection .chat-bubble:before {
	display: none;
}

#chats .chat.left .chat-bubble {
	background-color: #e6e5eb;
	float: left;
	margin-left: 55px;
}

#chats .chat.left .chat-bubble:before {
	background-color: #e6e5eb;
	left: -1px;
	margin-left: 52px;
}

#chats .chat.right .chat-bubble {
	background-color: #158ffe;
	color: #fff;
	float: right;
	margin-right: 52px;
}

#chats .chat.right .chat-bubble:before {
	background-color: #158ffe;
	right: -1px;
}

#chats img.profile-pic {
	width: 29px;
	height: 29px;
	border-radius: 50%;
	position: absolute;
	margin-top: 1px;
}
#chats .chat:first-child img.profile-pic {
	margin-top: 5px;
}
#chats .chat.repeated.hideDaySection img.profile-pic {
	display: none;
}

#chats .chat.left img.profile-pic {
	left: 10px;
}

#chats .chat.right img.profile-pic {
	right: 10px;
}

#chats .message {
	font-size: 10px;
}
#chats .message-wrapper {
	position: relative;
}

#chats .message-wrapper:last-child {
	margin-bottom: 10px;
}

#chats .item-divider {
	background-color: transparent;
	text-align: center;
	font-size: 12px;
	color: #777;
	padding-bottom: 0px;
}
#chats .chat.hideDaySection .item-divider {
	display: none;
}

#chats .chat .date {
	position: absolute;
	left: 100%;
	font-size: 11px;
	color: #777;
	width: 50px;
	text-align: right;
	padding: 10px;
}
#chats.showDate .chat .date {
	right: 0px;
	left: auto;
}
#chats.showDate .chat .chat-bubble {
	margin-right: 102px;
}
#chats.showDate .chat img.profile-pic {
	right: 60px;
}
#newChat .bar-footer {
	overflow: visible !important;
	height: auto;
	background-color: #eee !important;
}

#newChat .button-icon {
	padding-top: 2px;
}
#newChat textarea {
	background-color: transparent; !important;
	width: 100%;
	resize: none;
	height: 25px;
	padding-top: 4px;
	font-size: 13
}
#newChat .item-input-wrapper {
	margin: 1px 55px -1px 5px;
	border: 1px solid #ddd;
	background-color: #efefef;
}
.footer-btn-wrap {
  position: static; 
  height: 100%; 
}

#newChat button.footer-btn {
	position: absolute !important;
	bottom: 6px;
	font-size: 16px;
	font-weight: bold;
}
#newChat button.footer-btn {
	left: -1px;
	color: #888;
}
#newChat button.footer-btn.right {
	right: 0px;
	left: auto;
	color: rgb(18, 86, 136);
	width: 67px;
	text-align: center;
}
#newChat button.footer-btn[disabled] {
	font-weight: normal;
	color: #888;
	right: 1px;
}
/** custom-date-picker **/

.custom-date-picker {
	margin: 0px auto;
	max-width: 400px;
}
.custom-date-picker th {
	padding: 0px 10px;
	font-size: 14px
}
.custom-date-picker th > * {
	font-size: 14px;
	font-weight: bold;
	border-bottom: 2px solid #555;
	padding-bottom: 3px;
}
.custom-date-picker td {
	vertical-align: top;
	font-size: 12px;
	color: #999;
	padding: 15px 12px;
	overflow: hidden;
	text-align: center;
	width: 30%;
}
.custom-date-picker td:first-child {
	text-align: right;
	width: 40%;
}
.custom-date-picker td.huge {
	color: #555;
	font-size: 45px;
	line-height: 1.0;
	vertical-align: middle;
	padding: 0px 10px;
	height: 70px;
	position: relative;
}
.custom-date-picker tr td:first-child {
	text-align: center;
}
.custom-date-picker td:first-child.huge {
	font-size: 35px;
}
.custom-date-picker td.huge small {
	font-size:60%;
	position: absolute;
	width: 100%;
  	left: 0px;
  	bottom: 0px;
}
.custom-date-picker i {
	font-size: 17px;
	color: #aaa;
}

.custom-date-picker td .item {
	padding: 7px 10px 7px;
	font-size: 12px;
	color: #666;
	width: inherit;
	border-right: 0px;
	height: 40px;
}

.custom-date-picker td .item.this {
	font-weight: bold;
	color: #555;
	font-size: 13px;
}

.item-radio.small .item-content {
	padding: 7px 16px;
	font-size: 15px !important;
}
.item-radio.small .radio-icon {
	font-size: 20px;
	padding: 5px 20px;
}

/** Lists  **/
.list {
	padding: 0px;
}

#editEvent {
	font-size: 12px;
}

#editEvent .item-icon-left {
	padding-left: 65px;
  	font-size: 15px;
}
.item-icon-right i:last-child {
	right: 5px;
}

#editEvent .bottom {
	padding: 30px 0px 15px 15px;
	font-size: 25px;
}

.textCover {
	background: rgba(0, 0, 0, 0.4); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, .4) 95%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0, 0, 0, 0)), color-stop(95%,rgba(0, 0, 0, .4))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 10%,rgba(0, 0, 0, .4) 95%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 10%,rgba(0, 0, 0, .4) 95%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 10%,rgba(0, 0, 0, .4) 95%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 10%,rgba(0, 0, 0, .6) 95%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

#showEvent {
	position: fixed !important;
	left: 0px;
	right: 0px;
	z-index: 5000;
	overflow: hidden;
	top: -100%;
	margin-bottom: -58px;
}

#showEvent.show {
	top: 0px !important;
	bottom: auto;
}

#showEvent, #chats {
	border: 0px;
	padding: 0px;
}
#showEvent, #showEvent .item, #chatsContainer .item {
	border: 0px;
	border-bottom: 0px solid rgba(255, 255, 255, .1);
	position: relative;
	z-index: 10;
	min-height: inherit;
	background-color: transparent;
}
#chatsContainer > .list {
	margin: 8px 6px;
}

#showEvent .mainPanel .bottom {
	padding: 50px 0px 15px 15px !important;
}

#showEvent  .mainPanel .bottom > * {
	margin: 0px;
	padding: 0px;
}

#showEvent h1, #showEvent h2 {
	color: white;
}
#showEvent h2 {
	margin-top: 5px;
	white-space: nowrap;
	width: 90%;
	position: relative;
	padding-bottom: 1px;
	overflow: visible;
}
#showEvent h2 i {
	font-size: 20px;
	position: absolute;
	padding: 10px;
	bottom: -10px;
}

#showEvent .cover {
	background-color: rgba(0, 0, 0, 0.6) !important;
}

button.action {
	position: absolute;
	top: 16%;
	border-radius: 50%;
	border: 0px;
	background-color: transparent;
}

button.action > i {
	color: white;
	border: 1px solid rgba(255, 255, 255, .5);
	border-radius: 50%;
	background-color: rgba(0, 0, 0, .6);
	height: 50px;
	width: 50px;
	font-size: 30px;
	padding: 3px 0px;
}

#showEvent button.button {
	position: absolute;
	bottom: 0px;
	border: 0px;
	border-radius: 0px;
	height: 40px;
	opacity: .9;
}
#showEvent button.button.button-left {
	left: 0px;
	width: 70%;
}
#showEvent button.button.button-right {
	right: 0px;
	width: 30%;
}

#showEvent button.action.activated {
	background-color: transparent !important;
}
#showEvent button.action.activated > i{
	background-color: rgb(10, 20, 30) !important;
}

#showEvent h1 {
	overflow: visible;
}

#showEvent .item-divider {
	margin: 0px;
	font-size: 26px;
}

#showEvent .joinButton {
	border-radius: 5px;
	width: 250px;
	font-size: 14px;
	position: absolute;
	top: 20%;
	left: 50%;
	margin-left: -125px;
	padding: 15px;
}

.item-square {
	padding-left: 80px;
}

.item-square > img:first-child {
	border-radius: 0px;
	top: 0px;
	left: 0px;
	max-width: 70px;
	max-height: none;
	height: 100%;
}

.topHalf {
	position: absolute;
	bottom: 40%;
	left: 0px;
	right: 0px;
	white-space: normal;
	/*font-weight: bold !important;*/
	/*font-style: italic;*/
}
.topHalf.lower {
	margin-bottom: -5%;
}
.bottomHalf {
	position: absolute;
	top: 60%;
	left: 0px;
	right: 0px;
}

.bottom {
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	padding: 5px 5px;
	margin-bottom: 0px !important;
}

/**** Cards List Styles  ***/

.cards {
	padding: 0px 5px;
	text-align: center;
}

.cards .card {
	margin: 10px 5px;
	width: auto;
	border-radius: 5px;
	height: auto;
}

.card {
	position: relative;
	display: block;
	overflow: hidden;
	width: 100%;
	background-color: #ddd;
	margin: 0px;
	padding: 0px;
	height: 100px;
}

.card .header {
	position: relative;
	height: 140px;
}

.card .footer {
	position: relative;
	clear: both;
	height: 60px;
	background-color: white;
}

.card .footer i, .card .footer img {
	font-size: 20px;
	height: 30px;
}

.card .header .titleWithBadge {
	margin-right: 50px;
	text-align: center;
}

.card .header .badge {
	float: right;
	margin: 10px 10px 0px 0px;
	border-radius: 5px;
	font-size: 12px;
}
.card .header .badge i {
	position: relative;
	top: 2px;
	font-size: 130%;
	margin-right: 5px;
}

.card .header .badge-stable {
	color: #888;
}

.card img {
	background-repeat: 10px auto;
	height: 70%;
	margin: 0px auto;
	display: block;
}

.cover, .cover > .item-content {
	background-color: rgba(0, 10, 30, 1);
	background-color: rgb(25, 34, 52) !important;
	background-color: rgb(92, 96, 107) !important;
	color: white;
}
.coverLight, .coverLight > .item-content{
	background-color: rgb(155, 180, 187) !important;
	background-color: rgb(140, 160, 160) !important;
}
.cover .item {
	background-color: transparent;
}

.cover * {
	color: white;
}

.item.label {
	padding: 0px;
	text-align: center;
	font-size: 12px;
	color: white;
	line-height: 1.0;
	border-bottom: 2px solid white !important;
}

.card label {
	position: absolute;
	left: 0px;
	bottom: 0px;
	z-index: 3000;
	font-size: 15px;
	color: white;
	width: 100%;
	padding: 20px 0px 10px;
	text-align: center;
}

.card textarea, .card input {
	resize: none;
	width: 100%;
	position: absolute;
	z-index: 4000;
	bottom: 0px;
	left: 0px;
	padding: 5px;
	font-size: 18px;
	color: white;
	line-height: 0.7;
	background-color: transparent;
	text-align: center;
}

.card .footer > table {
	width: 100%;
	height: 100%;
}

.card .footer > table > tbody > tr > td {
	border-right: 1px solid #eee;
	text-align: center;
}

.card .footer > table > tbody > tr > td:last-child {
	border-right: 0px;
}


/*** Form styles  ***/

.button-bottom {
	position: absolute;
	z-index: 4000;
	bottom: 10px;
	left: 50%;
	margin-left: -25px;
	width: 90px;
	height: 90px;
	padding: 20px 10px;
	border-radius: 50%;
}

/*** Login Styles  ***/

#login button {
	height: 70px;
	max-width: 250px; 
	margin: 0px auto; 
	padding-left: 70px;
	text-align: left;
	font-size: 16px;
	border: 0px;
	line-height: 1.3;
	background-color: transparent;
	color: white;
	white-space: nowrap;
	background-color: rgba(255, 255, 255, .1);
}
#login button img {
	height: 40px;
	position: absolute;
	left: 10px;
	top: 7px;
	margin: 5px;
}

#waiting .spinner {
	stroke: white;
	fill: white;
}
#waiting .spinner svg {
	width: 60px;
  	height: 60px;
}

/*******     Backgrounds Styles     *******/

.bg-lightblue {
	background-color: rgb(0, 189, 189) !important;
	color: #fff !important;
	border: 0px !important;
}

.bg-lightgrey {
	background-color: rgb(220, 220, 220) !important;
	color: #444 !important;
	border: 0px !important;
}

.bg-black {
	background-color: rgb(30, 30, 30) !important;
	color: #fff !important;
	border: 0px !important;
}

.bg-black > *, .bg-lightblue > * {
	color: #fff !important;
}

.bg-lightgrey > * {
	color: #444 !important;
}

.bg-facebook {
    background: #5678bc; /* Old browsers */
    background: -moz-linear-gradient(top,  #5678bc 0%, #314a7b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5678bc), color-stop(100%,#314a7b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #5678bc 0%,#314a7b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #5678bc 0%,#314a7b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #5678bc 0%,#314a7b 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #5678bc 0%,#314a7b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5678bc', endColorstr='#314a7b',GradientType=0 ); /* IE6-9 */

    color: #fff;
    border: 1px solid #aaa;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.bg-facebook:active {
	background-color: rgb(18, 86, 136) !important;
}


/*******     General Styles     *******/
.circle {
	border-radius: 50% !important;
}

.overflow {
	overflow: hidden !important;
}

.centered {
	text-align: center;
}

.square {
	border-radius: 0px !important;
}

.relative {
	position: relative !important;
}

.2x {
	font-size: 200% !important;
}

.small, i.small {
	font-size: 85% !important;
}
.smaller, i.smaller {
	font-size: 75% !important;
}

.normal {
	font-size: 100% !important
}

.large {
	font-size: 105% !important;
}
.larger {
	font-size: 120% !important;
}

.inline {
	display: inline-block !important;
}
.block {
	display: block !important;
}

.padding {
	padding: .5em;
}

.greyBackground {
	background-color: #f5f5f5;
}

.bold {
	font-weight: bold !important;
}

.invisible {
	visibility: hidden !important;
	height: 0px;
}
.visible {
	visibility: visible !important;
	height: auto;
	min-height: inherit;
	/*display: inherit;*/
}
.noWrap {
	white-space: nowrap !important;
}

.noClick.activated {
	background-color: transparent;
	
}

.whiteColor, .loading .spinner, .whiteColor .spinner, .whiteColor.scroll-refresher .ionic-refresher-content {
	color: white;
	stroke: white;
}

.balanced {
	color: #33cd5f !important;
}
.assertive {
	color: #ef473a !important;
}

.invertColor {
	-webkit-filter: invert(0%); 
	-moz-filter: invert(0%); 
	-ms-filter: invert(0%); 
	-o-filter: invert(0%); 
    filter: invert(0%); 
}

.transparent {
	background-color: transparent !important;
}

.italic {
	font-style: italic;
}

.imageOpacity {
	-webkit-filter: opacity(30%); 
	-moz-filter: opacity(30%); 
	-ms-filter: opacity(30%); 
	-o-filter: opacity(30%); 
    filter: opacity(30%); 
}

.imageOpacity {
	-webkit-filter: opacity(50%); 
	-moz-filter: opacity(50%); 
	-ms-filter: opacity(50%); 
	-o-filter: opacity(50%); 
    filter: opacity(50%); 
}

.darken {
	background-color: rgba(0, 0, 0, .2);
	color: white !important;
}
.darken > * {
	color: white !important;
}

/*** Enter animations ***/

.showUp {
	position: relative;
	top: -100% !important;
}
.showDown {
	position: relative;
	top: 100%;
}
.showUp.loaded, .showDown.loaded {
	bottom: auto !important;
	top: 0px !important;
}
.slideUp, .slideUp * {
	height: 0px !important;
	min-height: 0px !important;
	padding: 0px !important;
	margin: 0px !important;
}


/***  Animations ***/

.slow, .showDown, .slideUp, .topHalf {
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
}
.slower {
    -webkit-transition: all 500ms linear;
    -moz-transition: all 500ms linear;
    -ms-transition: all 500ms linear;
    -o-transition: all 500ms linear;
    transition: all 500ms linear;
}
.fa.spin {
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
.delay, .showDown {
	-webkit-transition-delay: 400ms;
	-moz-transition-delay: 400ms;
	-ms-transition-delay: 400ms;
	-o-transition-delay: 400ms;
    transition-delay: 400ms;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }